@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.want_to_invest_section {
  padding-block: 7.5rem;
  @include m.media("tablet") {
    padding-block: 4rem;
  }
  &__heading {
    max-width: 35rem;
    margin-bottom: 1.5rem;
  }
  &__list {
    display: grid;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
      grid-gap: 1.5rem;
    }
    @include m.media("tablet") {
      grid-template-columns: repeat(3, 32.5rem);
      grid-gap: 1rem;
      max-width: 100vw;
      overflow: auto;
      padding-inline: 1rem;
    }
  }
  &__element {
    padding: clamp(1rem, 8%, 2rem);
    background-color: var(--white-color);
    border-radius: 1rem;
    min-height: 32.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(1.875rem);
    &_footer {
      @include typo.tertiaryHeading;

      display: flex;
      flex-direction: column;
    }
  }
}