@use "src/shared/styles/typography" as typo;

.personal_cabinet_section {
  min-height: 73.5rem;
  border-radius: 1.25rem;
  background:
          url("../../../../public/images/for-investors/personal-cabinet-back-1.png") no-repeat right bottom,
          url("../../../../public/images/for-investors/personal-cabinet-back-2.png") no-repeat right top,
          radial-gradient(183.9% 151.54% at 74.09% -15.28%, #171717 0%, #585858 100%),
          #282828;
  padding-block: 8.75rem;
  &__header {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1.5rem;
    color: var(--white-color);
  }
  &__text {
    max-width: 25rem;
    @include typo.primaryText;
  }
}