@use "src/shared/styles/variables" as v;

.common_block {
    border-radius: 1.25rem;
    background-color: var(--white-color);
    padding-block: v.$base-block-padding;
    &___first {
        padding-top: v.$base-block-padding-higher;
    }
}
