@use "src/shared/styles/variables" as v;
@use "src/shared/styles/mixins" as m;

.common_block {
    border-radius: 1.25rem;
    background-color: var(--white-color);
    padding-block: v.$base-block-padding;
    &___first {
        @include m.media("tablet", "min") {
            padding-top: v.$base-block-padding-higher;
        }
    }
    @include m.media("tablet") {
        padding-block: 6rem;
    }
    @include m.media("mobile") {
        padding-block: 4rem;
    }
}
