@use "src/shared/styles/mixins" as m;

.main_section {
  padding-block: 6.5rem 3rem;
  min-height: 100vh;
  width: calc(100vw - 1rem);
  height: 1px;
  @include m.media("tablet") {
    width: 100vw;
    padding-bottom: 3.5rem;
  }
  @include m.media("mobile") {
    padding-block: 6rem 1.5rem;
  }
}