@use "src/shared/styles/mixins" as m;

.unavailable_estate_section {
  margin-top: 0.5rem;
  &__container {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
  }
  &__heading {
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    @include m.media("tablet", "min") {
      position: sticky;
      top: 7rem;
    }
    &_container {
      position: relative;
    }
  }
}