@use "src/shared/styles/typography" as typo;

.blog_search {
  &_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &_text {
    @include typo.tertiaryHeading;
  }
  &__input {
    &::placeholder {
      @include typo.primaryText;
    }
  }
}