@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/functions" as func;
@use "src/shared/styles/mixins" as m;

.hero_section {
  position: fixed;
  background: url("../../../../public/images/landing/landing-background.png") center 25% no-repeat;
  padding-bottom: 3rem;
  @include m.media("tablet") {
    background-size: contain;
  }
  & > div {
    height: 100%;
  }
  &__heading {
    @include m.hideOnBreakpoint("tablet", "min");
  }
  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  &__footer {
    padding-top: 2.5rem;
    display: grid;
    grid-gap: 2.5rem;
    border-top: 1px solid rgba(var(--dark-background-color-rgb), 0.25);
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
    @include m.media("tablet") {
      padding-top: 1.5rem;
      grid-auto-rows: minmax(min-content, max-content);
      grid-row-gap: 4rem;
    }
  }
  &__left {
    display: flex;
    @include m.media("tablet", "min") {
      flex-direction: column;
      gap: 4rem;
    }
    @include m.media("tablet") {
      gap: 2.5rem;
      min-height: 3.5rem;
      display: flex;
      align-items: center;
      & > * {
        flex: 1;
      }
    }
  }
  &__logo {
    @include m.hideOnBreakpoint("tablet");
  }
  &__second_slider {
    @include m.hideOnBreakpoint("tablet", "min");
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  &__second_heading {
    max-width: 27.5rem;
    @include m.hideOnBreakpoint("tablet");
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  &__link {
    flex-grow: 1;
    justify-content: space-between;
    @include typo.buttonBigText;
  }
}