@use "src/shared/styles/mixins" as m;

.legal_documents_list {
  display: grid;
  grid-gap: 1.5rem;
  @include m.media("tablet", "min") {
    grid-template-columns: repeat(6, minmax(10px, 1fr));
  }
  @include m.media("tablet") {
    display: flex;
    align-items: center;
    gap: 1rem;
    & > li {
      min-width: 25rem;
    }
    max-width: 100vw;
    padding-inline: 1rem;
    overflow: auto;
    @include m.scrollbarWidth;
  }
  @include m.media("mobile") {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  &__half {
    @include m.media("tablet", "min") {
      grid-column: span 3 !important;
    }
  }
}