@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/variables" as v;
@use "src/shared/styles/mixins" as m;

.questions_section {
  &__container {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("mobile", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
  }
  &__heading {
    @include m.media("tablet") {
      grid-column: 1 / -1;
    }
  }
  &__card {
    @include m.media("mobile", "min") {
      grid-row: 2 / 3;
    }
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--stroke-on-white-color);
    min-height: v.$base-block-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15rem;
    @include m.media("tablet") {
      background-size: calc(max(50%, 10rem));
    }
    @include m.media("mobile") {
      padding: 1.5rem;
      min-height: 22.5rem;
      background-size: 7rem;
    }
    &_heading {
      @include typo.tertiaryHeading;
    }
    &_text {
      @include typo.primaryText;
    }
    &__footer {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      &___small {
        @include m.media("tablet", "min") {
          width: calc(min(50%, 21.125rem));
        }
      }
    }
    &_link {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      text-decoration: underline;
      color: var(--primary-green-color) !important;
    }
    &___first {
      background-image: url("/images/landing/contacts/telegram-image.png");
    }
    &___second {
      background-image: url("/images/landing/contacts/support-image.png");
    }
  }
}