@use "src/shared/styles/variables" as v;
@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.news_card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--white-color);
  position: relative;
  border: 1px solid var(--stroke-on-white-color);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 32.5rem;
  @include m.media("tablet") {
    min-height: 24.5rem;
  }
  &:hover {
    & .news_card__footer {
      border-color: var(--primary-green-color);
    }
  }
  &:nth-child(3n) {
    max-width: 56.8125rem;
    grid-column: 1 / -1;
  }
  &___white {
    background-color: var(--font-medium-gray-color);
    background-blend-mode: multiply;
    color: var(--white-color);
    &:hover {
      & .news_card__footer {
        border-color: var(--white-color);
      }
    }
  }
  &__photo {
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    max-height: 50%;
    aspect-ratio: 360 / 260;
    width: 100%;
    position: relative;
    & > img {
      border-radius: inherit;
      aspect-ratio: 360 / 260;
    }
    @include m.media("tablet", "min") {
      flex-grow: 1;
    }
  }
  &__tag {
    position: absolute;
    top: 2rem;
    left: 2rem;
    @include m.media("tablet") {
      top: 1.5rem;
      left: 1.5rem;
    }
    z-index: 15;
    background-color: var(--light-theme-gray-color);
    color: var(--font-dark-color);
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 94%;
    text-transform: uppercase;
    letter-spacing: v.$letter-spacing-1;
    @include typo.trimProperties;
  }
  &__content {
    padding: 6rem 2rem 1.5rem;
    @include m.media("tablet") {
      padding: 1.5rem;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &___no_photo {
      margin-top: 6rem;
      max-height: 100%;
      @include m.media("tablet") {
        margin-top: 4rem;
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include m.media("tablet") {
      margin-bottom: 1rem;
    }
    &___with_desciption {
      @include m.media("tablet", "min") {
        max-width: calc(min(70%, 37rem));
      }
    }
  }
  &__title {
    @include typo.tertiaryHeading;
    overflow: hidden;
    width: calc(100%);
    @include m.lineClamp(4);
    text-overflow: ellipsis;
  }
  &__description {
    @include typo.primaryText;
    margin-bottom: 1rem;
  }
  &__footer {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
    border-top: 1px solid var(--stroke-on-white-color);
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: underline;
    color: var(--primary-green-color);
    @include typo.secondaryTextAccent;
    &___white {
      color: var(--white-color);
    }
  }
  &__date {
    color: var(--font-secondary-color);
    @include typo.secondaryText;
    &___white {
      color: var(--white-color);
    }
  }
}