@use "src/shared/styles/mixins" as m;

.dev_points_section {
  padding-top: 6.5rem;
  @include m.media("tablet") {
    padding-block: 4rem 0;
  }
  @include m.media("tablet") {
    padding-top: 3rem;
  }
  position: relative;
  &__heading {
    margin-bottom: 1.5rem;
    position: sticky;
    top: 6rem;
    @include m.media("tablet") {
      top: 5rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    @include m.media("tablet") {
      margin-bottom: 2.5rem;
    }
  }
  &__first_card, &__third_card, &__fifth_card {
    background-color: var(--bg-green-color);
  }
  &__second_card, &__fourth_card {
    background-color: var(--dark-background-color);
  }
  &__first_card {
    z-index: 11;
    background-image: url("/images/noise.png"), url("/images/about-us/card-background-2019.png");
    background-size: cover;
  }
  &__second_card {
    z-index: 12;
    background-image: url("/images/noise.png"), url("/images/about-us/card-background-2020.png");
    background-position: center, center bottom;
    background-size: cover;
    &_second_content {
      grid-column: span 2;
    }
  }
  &__third_card {
    z-index: 13;
    background-image: url("/images/noise.png"), url("/images/about-us/card-background-2021.png");
    background-position: right bottom;
    & > footer > div {
      grid-column: span 2;
    }
  }
  &__fourth_card {
    z-index: 14;
    background-image: url("/images/noise.png"), url("/images/about-us/card-background-2022.png");
    background-size: cover;
    &_content {
      grid-column: 3 / -1;
      @include m.media("tablet", "min") {
        max-width: 26.25rem;
      }
    }
  }
  &__fifth_card {
    z-index: 15;
    background-image: url("/images/noise.png"), url("/images/about-us/card-background-2023.png");
    background-size: cover;
    &_first_content {
      grid-column: 1 / 2;
    }
    &_second_content {
      @include m.media("tablet", "min") {
        grid-column: 3 / 5;
      }
    }
  }
  &__more {
    @include m.hideOnBreakpoint("tablet", "min");
  }
}