@use "src/shared/styles/mixins" as m;

.news_list {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  overflow: auto;
  @include m.media(90em) {
    padding-inline: 1rem;
  }
  @include m.scrollbarWidth;
  &__card {
    min-width: 26.25rem;
  }
}