@use "src/shared/styles/mixins" as m;

.news_list {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  overflow: auto;
  padding-inline: 1.5rem;
  @include m.scrollbarWidth;
}