@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.financing_section {
  margin-top: 6.5rem;
  max-width: calc(100vw - 1rem);
  @include m.media("tablet", "min") {
    padding-top: 2.25rem;
  }
  @include m.media("tablet") {
    margin-top: 4rem;
  }
  @include m.media("mobile") {
    margin-top: 3rem;
  }
  &__tabs {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
    max-width: 100%;
    overflow: auto hidden;
    @include m.scrollbarWidth;
  }
  &__tab {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
    color: var(--font-medium-gray-color);
    @include typo.secondaryHeading;
    transition: color 0.3s;
    &:not(:last-child) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: -2.5rem;
        background-color: var(--stroke-on-white-color);
        height: 1.5rem;
        width: 1px;
        @include m.centerColumnWithPositioning;
      }
    }
    &[aria-current="true"] {
      color: var(--font-dark-color);
    }
    @include m.media("tablet") {
      @include typo.tertiaryHeading;
      font-size: 1.625rem;
    }
  }
}