@use "src/shared/styles/mixins" as m;

.main_section {
  padding-top: 7rem;
  margin-bottom: 1.5rem;
  @include m.media("tablet") {
    padding-top: 6.5rem;
  }
  @include m.media("mobile") {
    margin-bottom: 4rem;
  }
  &__heading {
    margin-bottom: 9.5rem;
    @include m.media("tablet") {
      font-size: 4rem;
    }
    @include m.media("mobile") {
      margin-bottom: 4rem;
    }
  }
}