@use "src/shared/styles/mixins" as m;

.news_section {
  max-width: calc(100vw - 1rem);
  @include m.media("tablet") {
    max-width: 100vw;
  }
  & > div {
    max-width: 100%;
  }
  padding-block: 8.75rem;
  @include m.media("tablet") {
    padding-block: 6rem;
  }
  &__heading {
    margin-bottom: 2.5rem;
  }
}