@use "src/shared/styles/typography" as typo;

.auth_link {
  text-decoration: underline;
  display: block;
  padding-block: 0.5rem 0.25rem;
  color: var(--font-secondary-color);
  @include typo.primaryText;
  transition: color 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: var(--primary-green-color);
  }
}