@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.loan_register_section {
  &__container {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
  }
  &__heading {
    max-width: 32.5rem;
  }
  &__content {
    @include m.media("tablet", "min") {
      max-width: 30rem;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  &__text {
    @include typo.quaternaryHeading;
    @include m.media("tablet") {
      @include typo.primaryText;
      max-width: 25rem;
    }
  }
  &__image {
    @include m.useResizableImage;
    @include m.media("tablet") {
      align-self: center;
    }
  }
}