@use "src/shared/styles/variables" as v;
@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.who_can_section {
  border-radius: 1.25rem;
  background-color: var(--bg-green-color);
  padding: 8.75rem;
  color: var(--white-color);
  @include m.media("tablet") {
    padding: 4rem 0;
  }
  &__heading {
    margin-bottom: 1.5rem;
  }
  &__cards {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(3, minmax(10px, 1fr));
    }
    @include m.media("tablet") {
      padding-inline: 1.5rem;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 30.375rem);
      max-width: 100vw;
      overflow: auto;
      @include m.scrollbarWidth;
    }
  }
  &__card {
    padding: 2rem;
    min-height: v.$base-block-height;
    backdrop-filter: blur(1.875rem);
    border-radius: 0.75rem;
    background-color: rgba(var(--white-color-rgb), 0.1);
    border: 1px solid rgba(var(--white-color-rgb), 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include typo.tertiaryHeading;
  }
}