@use "src/shared/styles/typography" as typo;

.where_to_invest_section {
  &__heading {
    margin-bottom: 1rem;
    grid-column: 1 / -1;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1.5rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    color: var(--white-color);
    min-height: 40rem;
    padding: 2rem;
    &___first {
      background-image: url("../../../../public/images/for-investors/for-investors-card-1.png");
      background-repeat: no-repeat;
      background-color: var(--bg-green-color);
    }
    &___second {
      background-image: url("../../../../public/images/for-investors/for-investors-card-2.png");
      background-repeat: no-repeat;
      background-color: var(--dark-background-color);
    }
    &_heading {
      @include typo.tertiaryHeading;
      max-width: 32.5rem;
    }
    &_text {
      @include typo.primaryText;
      max-width: 32.5rem;
    }
  }
}