.password_input_container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &__button {
        &:focus,
        &:hover {
            & path {
                stroke: var(--font-dark-color);
            }
        }
    }
}
