@use "src/shared/styles/mixins" as m;

.loans_horizontal_list {
  width: fit-content;
  margin-bottom: 1.5rem;
  @include m.media("tablet") {
    padding-inline: 1rem;
  }
  @include m.media("mobile") {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
  }
}