@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/variables" as v;
@use "src/shared/styles/typography" as typo;

.primary_button {
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    @include m.centerWithFlex;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    &___black {
        background-color: var(--dark-background-color);
        color: var(--white-color);
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.24);
        &:hover,
        &:focus {
            background-color: var(--light-theme-gray-color);
        }
    }
    &___white {
        background-color: var(--white-color);
        color: var(--font-dark-color);
        box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.14);
        &:hover,
        &:focus {
            background-color: var(--light-theme-gray-color);
        }
    }
    &___green {
        background-color: var(--primary-green-color);
        color: var(--white-color);
        border-radius: 1.125rem;
        &:hover,
        &:focus {
            background-color: var(--font-green-secondary-color);
        }
    }
    &[disabled="true"] {
        color: var(--primary-dark-color-lightest);
        border-color: var(--primary-gray-color-border-lighter);
        background-color: var(--primary-gray-color);
    }
    &___wide {
        width: 100%;
    }
}
