.common_navigation_element {
    padding-block: 0.75rem;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    &[aria-selected="true"] {
        font-weight: 600;
        border-bottom: 2px solid var(--primary-purple-color);
    }
}
