@use "src/shared/styles/mixins" as m;

.blog_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
    @include m.media(75.25rem) {
      grid-template-columns: minmax(10px, 1fr);
    }
    @include m.media("tablet") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
    @include m.media("mobile") {
      grid-template-columns: 1fr;
    }
  }
}