@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.terms_block {
  min-height: 32.5rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--stroke-on-white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include m.media(61em, "min") {
    gap: 2rem;
  }
  @include m.media(61em) {
    padding: 1.5rem;
    min-height: 20rem;
  }
  & img {
    @include m.useResizableImage;
    @include m.media(61em) {
      max-width: 50%;
    }
  }
  &__title {
    @include typo.primaryText;
  }
  &__content {
    flex-grow: 1;
    align-self: center;
    @include m.centerWithFlex;
  }
  &__value {
    @include typo.tertiaryHeading;
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
}