@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/variables" as v;

.loan_rating_section {
  padding-block: 8.75rem;
  @include m.media("tablet") {
    padding: 4rem 0 0;
  }
  &__heading {
    max-width: 60.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  &__cards {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
    @include m.media("tablet") {
      grid-gap: 1rem;
    }
  }
  &__card {
    min-height: 42.25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    @include m.media("mobile") {
      border: 1px solid var(--stroke-on-white-color);
      min-height: 22.5rem;
    }
    &___first {
      background-image: url("../../../../public/images/for-borrowers/portfolio-image.png");
    }
    &___second {
      background-image: url("../../../../public/images/for-borrowers/house-image.png");
      & > footer {
        max-width: 21.125rem;
      }
    }
    &_header {
      @include typo.tertiaryHeading;
    }
    &_footer {
      @include typo.primaryText;
    }
  }
}