@use "src/shared/styles/mixins" as m;

.common_auth_block {
  width: calc(min(29.75rem, 100%));
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  @include m.centerWithFlex;
  flex-direction: column;
  @include m.media("tablet") {
    padding: 2rem;
  }
  @include m.media("mobile") {
    padding: 1.5rem;
    flex-grow: 1;
    justify-content: flex-start;
  }
  &__links {
    @include m.hideOnBreakpoint("mobile", "min");
  }
}