@use "src/shared/styles/mixins" as m;

.auth_container {
  margin-top: 4rem;
  margin-inline: auto;
  width: calc(min(45.5rem, 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  &__links {
    @include m.hideOnBreakpoint("mobile");
  }
  @include m.media("mobile") {
    margin-top: 0.25rem;
    flex-grow: 1;
  }
}