@use "src/shared/styles/variables" as v;
@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.option_box {
    &__content {
        position: absolute;
        top: calc(100% + 0.25rem);
        left: 0;
        overflow: hidden;
        @include m.scrollbarWidth;
        max-height: 0;
        z-index: 5;
        background-color: var(--white-color);
        border-radius: 0.75rem;
        box-shadow: 0 2px 32px rgba(0, 0, 0, 0.08);
        width: 100%;
        &___enter {
            overflow: hidden;
            max-height: 0;
            visibility: hidden;
        }
        &___enter_active {
            visibility: visible;
            transition: all 0.5s ease-in-out;
            overflow: scroll;
            max-height: 14rem;
        }
        &___enter_done {
            visibility: visible;
            overflow: scroll;
            max-height: 14rem;
        }
        &___exit {
            visibility: visible;
            overflow: scroll;
            max-height: 14rem;
        }
        &___exit_active {
            visibility: visible;
            transition: all 0.5s ease-in-out;
            overflow: scroll;
            max-height: 0;
        }
        &___exit_done {
            visibility: hidden;
            overflow: hidden;
            max-height: 0;
        }
    }
    &__list {
        border-radius: inherit;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.25rem;
    }
    &__item {
        cursor: pointer;
        @include typo.primaryText;
        max-width: 100%;
        overflow-x: scroll;
        @include m.scrollbarWidth;
        display: flex;
        align-items: center;
        padding: 0.875rem 0 0.875rem 1.25rem;
        transition: background-color 0.5s ease-in-out;
        &[data-current="true"] {
            outline: 2px solid var(--primary-purple-color);
            outline-offset: -2px;
        }
        &___disabled {
            pointer-events: none;
            user-select: none;
        }
        &:not(&___disabled):is(:hover, [aria-selected="true"]) {
            background-color: var(--primary-gray-color-border);
        }
    }
}
