@use "src/shared/styles/mixins" as m;

.hero_section {
  position: fixed;
  background: url("/images/noise.png"), url("/images/for-investors/for-investors-hero.png") center right no-repeat;
  padding-bottom: 2.5rem;
  @include m.media("mobile") {
    background-size: cover, 200%;
  }
  & > div {
    height: 100%;
  }
  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  &__heading {
    margin-bottom: 2rem;
    max-width: 56rem;
    @include m.media("mobile") {
      font-size: 1.75rem;
    }
  }
  &__link {
    max-width: 20rem;
    @include m.hideOnBreakpoint("tablet");
  }
  &__footer {
    padding-top: 2.5rem;
    min-height: 10rem;
    position: relative;
    @include m.media("tablet", "min") {
      border-top: 1px solid rgba(var(--dark-background-color-rgb), 0.25);
    }
  }
  &__footer_link {
    margin-top: 1rem;
    @include m.hideOnBreakpoint("tablet", "min");
  }
}