@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/variables" as v;
@use "src/shared/styles/typography" as typo;

.input_sms_code {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &__block {
        border-radius: 0.5rem;
        @include m.box(2.5rem);
        background-color: var(--white-color);
        border: 1px solid var(--primary-gray-color-border-lighter);
        padding: 0.5rem 0.75rem;
        @include m.centerWithFlex;
        &___error {
            border-color: var(--color-error-base);
        }
    }
    &__input,
    &__text {
        @include typo.lgNormalText;
        text-align: center;
        color: var(--primary-dark-color);
    }
    &__input {
        min-width: 0;
        max-width: 100%;
        border: none;
        @include m.hideNumericArrows;
        &:focus {
            outline: none;
        }
    }
    &__input::placeholder,
    &__text___empty {
        color: var(--primary-dark-color-lightest);
    }
}
