@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.hero_section {
  position: fixed;
  background: url("/images/noise.png"), url("/images/about-us/hero-pic-about.png") right center no-repeat;
  padding-bottom: 1.5rem;
  @include m.media("tablet") {
    background-size: cover, 175%;
    background-position: center, 50% 25%;
  }
  @include m.media("mobile") {
    background-size: cover, 250%;
  }
  & > div {
    height: 100%;
  }
  @include m.media("mobile") {
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__heading {
    @include typo.primaryHeading;
    max-width: 40rem;
    @include m.media("mobile", "min") {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }
    @include m.media("mobile") {
      font-size: 1.75rem;
      line-height: 102%;
      letter-spacing: -1.12px;
      font-weight: 500;
    }
  }
  &__link {
    @include m.media("mobile", "min") {
      max-width: 20rem;
    }
  }
}