@use "mixins" as m;
@use "variables" as v;

@mixin trimProperties {
    //Both props will be added later, I guess :/
    leading-trim: both;
    text-edge: cap;
}

@mixin secondaryText {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: v.$letter-spacing-1;
    @include trimProperties;
}

@mixin secondaryTextAccent {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: v.$letter-spacing-1;
    @include trimProperties;
}

@mixin primaryText {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 132%;
    letter-spacing: v.$letter-spacing-2;
    @include trimProperties;
}

@mixin buttonBigText {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 102%;
    letter-spacing: v.$letter-spacing-1;
}

@mixin captionText {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 124%;
    letter-spacing: v.$letter-spacing-2;
    @include trimProperties;
}

@mixin tertiaryText {
    font-weight: 400;
    font-size: calc(0.75rem + 1px);
    line-height: 120%;
    letter-spacing: v.$letter-spacing-1;
}

@mixin primaryHeading {
    font-weight: 500;
    font-size: 4rem;
    line-height: 90%;
    letter-spacing: v.$letter-spacing-5;
    @include trimProperties;
    @include m.media("tablet") {
        line-height: 98%;
        font-size: 2.875rem;
    }
}

@mixin secondaryHeading {
    font-weight: 500;
    font-size: 2.875rem;
    line-height: 98%;
    letter-spacing: v.$letter-spacing-5;
    @include trimProperties;
    @include m.media("mobile") {
        font-size: 1.75rem;
        line-height: 108%;
    }
}

@mixin tertiaryHeading {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 100%;
    letter-spacing: v.$letter-spacing-3;
    @include trimProperties;
    @include m.media("tablet") {
        font-size: 1.5rem;
    }
}

@mixin quaternaryHeading {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.375rem;
    letter-spacing: v.$letter-spacing-4;
    @include trimProperties;
}

@mixin heading5 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 108%;
    letter-spacing: -0.8px;
}
