$white-color: #fff;
$black-color: #000;
$font-logo-color: #24252B;
$font-dark-color: #212226;
$dark-background-color: #313236;
$medium-dark-background-color: #404043;
$dark-background-color-active: #1F2023B2;
$font-secondary-gray-color: #828282;
$main-background-color: #4E4E4E;
$gray-background-color: #f5f5f5;
$divider-color: #b6b6b7;
$primary-green-color: #05B768;
$primary-green-color-hover: #01D275;
$primary-green-color-active: #2B9159;
$stroke-on-white-color: #E0E0E0;
$font-medium-gray-color: #B2B2B2;
$font-green-secondary-color: #129F60;
$transparent-white-color-80: #FFFFFFCC;
$light-theme-gray-color: #F5F5F5;
$bg-green-color: #2B9159;
$red-error-color: #F47171;

$container-breakpoints: (
    "tablet": 48em,
    "mobile": 23.4375em,
);

$letter-spacing-1: -0.01em;
$letter-spacing-2: -0.02em;
$letter-spacing-3: -0.03em;
$letter-spacing-4: -0.04em;
$letter-spacing-5: -0.05em;

$base-block-height: 32.5rem;

$base-block-padding: 8.75rem;
$base-block-padding-higher: 11.25rem;
