@use "src/shared/styles/mixins" as m;

.callback_section {
  padding-block: 8.75rem;
  background-color: var(--dark-background-color);
  border-radius: 1.25rem;
  mix-blend-mode: normal;
  background-image: url("../../../../public/images/for-borrowers/callback-section-background.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  @include m.media("tablet") {
    padding-block: 4rem;
  }
  &__container {
    display: grid;
    grid-gap: 1.5rem;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
  }
  &__heading {
    color: var(--white-color);
    max-width: 28.1875rem;
  }
}