@use "src/shared/styles/variables" as v;
@use "src/shared/styles/functions" as func;

:root {
    --white-color: #{v.$white-color};
    --white-color-rgb: #{func.hexToRgb(v.$white-color)};
    --black-color: #{v.$black-color};
    --font-logo-color: #{v.$font-logo-color};
    --font-dark-color: #{v.$font-dark-color};
    --dark-background-color: #{v.$dark-background-color};
    --dark-background-color-rgb: #{func.hexToRgb(v.$dark-background-color)};
    --dark-background-color-active: #{v.$dark-background-color-active};
    --medium-dark-background-color: #{v.$medium-dark-background-color};
    --font-secondary-color: #{v.$font-secondary-gray-color};
    --main-background-color: #{v.$main-background-color};
    --gray-background-color: #{v.$gray-background-color};
    --divider-color: #{v.$divider-color};
    --primary-green-color: #{v.$primary-green-color};
    --primary-green-color-hover: #{v.$primary-green-color-hover};
    --primary-green-color-active: #{v.$primary-green-color-active};
    --stroke-on-white-color: #{v.$stroke-on-white-color};
    --font-medium-gray-color: #{v.$font-medium-gray-color};
    --font-green-secondary-color: #{v.$font-green-secondary-color};
    --transparent-white-color-80: #{v.$transparent-white-color-80};
    --light-theme-gray-color: #{v.$light-theme-gray-color};
    --bg-green-color: #{v.$bg-green-color};
    --red-error-color: #{v.$red-error-color};
}
