@use "src/shared/styles/mixins" as m;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html, body {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    color: var(--font-dark-color);
    background-color: var(--gray-background-color);
    font-weight: 400;
    @include m.useCoFoSansFont;
    padding: 0.5rem;
}

::selection {
    background-color: var(--primary-green-color);
    color: var(--white-color);
}

a {
    text-decoration: none;
    color: var(--font-dark-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

image {
    max-width: 100%;
}
