@use "src/shared/styles/mixins" as m;

.requisites_section {
  &__container {
    display: grid;
    grid-gap: 1.5rem;
    align-items: flex-start;
    position: relative;
    padding-bottom: 7.5rem;
    @include m.media("tablet", "min") {
      border-bottom: 1px solid var(--stroke-on-white-color);
      grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
    @include m.media("tablet") {
      padding-bottom: 0.25rem;
    }
  }
  &__sections {
    position: sticky;
    top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include m.hideOnBreakpoint("tablet");
  }
  &__tab {
    cursor: pointer;
    text-decoration: underline;
    color: var(--font-medium-gray-color);
    transition: color 0.4s;
    &:hover {
      color: var(--primary-green-color);
      text-decoration: none;
    }
    &[aria-current="true"] {
      color: var(--font-dark-color);
      text-decoration: none;
    }
  }
}