@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.common_input_input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    @include typo.primaryText;
    color: var(--font-dark-color);
    min-height: 1.875rem;
    &___numeric {
        @include m.hideNumericArrows;
    }
    &::placeholder {
        @include typo.primaryText;
        color: var(--font-secondary-color);
    }
    &:focus {
        outline: none;
    }
}
