@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/variables" as v;

.returned_loan_card {
  padding: 2rem;
  background-color: var(--white-color);
  border-radius: 1rem;
  min-width: 35.75rem;
  @include m.media("mobile") {
    padding: 1.5rem;
    min-width: initial;
    max-width: 22rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
  }
  &__image_container {
    position: relative;
    height: 347px;
    width: 38.25rem;
    @include m.media("mobile") {
      max-height: 13.5rem;
      max-width: 17.75rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-rows: minmax(10px, 1fr) auto minmax(10px, 1fr);
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-gap: 0.375rem;
    grid-template-areas:
            "first"
            "progress"
            "second";
    @include m.media("tablet") {
      grid-template-areas:
            "progress"
            "first"
            "second";
      grid-template-rows: auto repeat(2, minmax(10px, 1fr));
      grid-gap: 1rem;
    }
    @include m.media("mobile") {
      grid-template-rows: repeat(7, minmax(min-content, max-content));
      grid-template-columns: 1fr;
    }
  }
  &__first {
    grid-area: first;
  }
  &__second {
    grid-area: second;
  }
  &__info_block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 8.75rem;
  }
  &__progress {
    grid-area: progress;
    grid-column: 1 / -1;
    @include m.media("tablet", "min") {
      margin-top: 1rem;
    }
  }
  &__label {
    @include typo.secondaryText;
    color: var(--font-secondary-color);
  }
  &__value {
    @include typo.quaternaryHeading;
  }
  &__percentage {
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    @include m.box(4rem);
    @include m.centerWithFlex;
    gap: 0.25rem;
    flex-direction: column;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-green-color);
    font-weight: 700;
    font-size: calc(0.875rem + 1px);
    letter-spacing: v.$letter-spacing-1;
    line-height: 1rem;
    @include typo.trimProperties;
  }
  &__ltv {
    color: var(--font-medium-gray-color);
  }
  &__id {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 5;
    backdrop-filter: blur(6px);
    min-width: 7.75rem;
    border-radius: 0.375rem;
    padding: 0.75rem;
    background-color: rgba(var(--white-color-rgb), 0.8);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 11px;
    @include typo.trimProperties;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}