@use "src/shared/styles/typography" as typo;

.reset_password_link_sent_block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  &__heading {
    @include typo.quaternaryHeading;
  }
  &__text {
    padding-block: 0.5rem;
    @include typo.primaryText;
    text-align: center;
  }
}