.progress_bar {
    width: 100%;
    min-height: 0.5rem;
    background-color: var(--light-theme-gray-color);
    overflow: hidden;
    border-radius: calc(0.25rem + 1px);
    position: relative;
    &__filled {
        width: 0;
        transition: width 0.5s ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
        background-color: var(--primary-green-color);
        &___finished {
            border-radius: 0.5rem;
        }
    }
}
