@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.blog_aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include m.media("tablet", "min") {
    position: sticky;
    top: 6rem;
    height: 46rem;
    max-height: calc(100vh - 8rem);
  }
  @include m.media("tablet") {
    max-width: 100%;
    overflow: auto;
    @include m.scrollbarWidth;
    z-index: 5;
    background-color: var(--white-color);
  }
  @include m.media("mobile") {
    max-height: 2.5rem;
  }
  &__list {
    display: flex;
    gap: 0.5rem;
    @include m.media("tablet", "min") {
      max-width: 20.375rem;
    }
    @include m.media("tablet") {
      gap: 1rem;
    }
    @include m.media("mobile", "min") {
      flex-wrap: wrap;
    }
    @include m.media("mobile") {
      max-width: 100vw;
      overflow: auto;
    }
  }
  &__tag {
    width: max-content;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    padding: 0.75rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 0.375rem;
    background-color: var(--light-theme-gray-color);
    color: var(--font-dark-color);
    font-size: 0.75rem;
    font-weight: 500;
    @include typo.trimProperties;
    text-transform: uppercase;
    line-height: 0.75rem;
    letter-spacing: var(--letter-spacing-2);
    &[aria-selected="true"] {
      background-color: var(--dark-background-color);
      color: var(--white-color);
    }
  }
  &__more {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc(min(100%, 22.5rem));
    @include m.hideOnBreakpoint("tablet");
  }
  &__text {
    @include typo.tertiaryHeading;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__button {
    @include typo.buttonBigText;
    color: var(--white-color) !important;
  }
}