@use "src/shared/styles/typography" as typo;
@use "src/shared/styles/mixins" as m;

.dev_point_card {
  top: 11rem;
  max-height: calc(100vh - 12rem);
  position: sticky;
  border-radius: 1rem;
  padding: 2rem;
  height: 42.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1.5rem;
  color: var(--white-color);
  background-repeat: no-repeat;
  @include m.media("tablet") {
    top: 10rem;
  }
  @include m.media("mobile") {
    max-height: 28.75rem;
    padding: 1.5rem;
    background-position: top center;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include m.media("mobile", "min") {
      &::after {
        content: "";
        position: absolute;
        background-color: rgba(var(--white-color-rgb), 0.2);
        height: 100%;
        width: 1px;
        @include m.centerLineWithPositioning;
        top: 0;
      }
    }
  }
  &__year {
    font-weight: 500;
    font-size: 8.5rem;
    line-height: 108%;
    @include typo.trimProperties;
    letter-spacing: -0.06em;
    @include m.media("tablet") {
      font-size: 7rem;
    }
    @include m.media("mobile") {
      font-size: 4rem;
    }
  }
  &__index {
    @include typo.quaternaryHeading;
  }
  &__footer {
    border-top: 1px solid rgba(var(--white-color-rgb), 0.2);
    padding-top: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    @include typo.primaryText;
    @include m.media("tablet", "min") {
      grid-template-columns: repeat(4, minmax(10px, 1fr));
    }
    @include m.media("tablet") {
      padding-top: 2rem;
      width: calc(min(100%, 37.5rem));
    }
  }
}