.dashboard_stat {
    border: 1px solid var(--primary-gray-color-border);
    background-color: var(--primary-gray-color);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 7.875rem;
    height: 1px;
    &___three {
        grid-column: span 3;
    }
    &___four {
        grid-column: span 4;
    }
}
