.dashboard_stat_content {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    font-weight: 600;
    &___purple {
        &,
        & > span {
            color: var(--primary-purple-color);
        }
    }
    &___green {
        &,
        & > span {
            color: var(--success-color);
        }
    }
    &___red {
        &,
        & > span {
            color: var(--color-error-base);
        }
    }
    &__amount {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    &__unit {
        display: block;
        margin-bottom: 0.125rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
