@use "src/shared/styles/typography" as typo;

.search_input {
    padding-block: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &__input {
        &,
        &::placeholder {
            @include typo.baseNormal;
        }
    }
}
