@use "src/shared/styles/typography" as typo;

.actual_documents {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-gap: 1.5rem;
  &__columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1rem;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}