.available_estate_section {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-gap: 1.5rem;
  }
  &__heading {
    position: sticky;
    top: 7rem;
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    &_container {
      position: relative;
    }
  }
}