@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.main_differences_block {
  &__header {
    @include m.hideOnBreakpoint("tablet");
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-gap: 1.5rem;
    padding: 2.5rem 2rem;
    &_cell {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__title {
    @include typo.quaternaryHeading;
  }
  &__heading {
    transform: translateX(-2rem);
  }
  &__info {
    @include typo.secondaryText;
    color: var(--font-secondary-color);
  }
}