@use "src/shared/styles/mixins" as m;
@use "src/shared/styles/typography" as typo;

.loan_document_section {
  padding-bottom: 8.75rem;
  @include m.media("tablet") {
    padding: 4rem 0;
  }
  &__heading {
    max-width: 60rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  &__tabs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 1.125rem;
    border: 1px solid var(--medium-dark-background-color);
    margin-bottom: 1.5rem;
    @include m.media("tablet") {
      max-width: calc(100vw - 2rem);
      overflow: auto;
      white-space: nowrap;
      @include m.scrollbarWidth;
    }
    @include m.media("mobile") {
      border: none;
      padding: 0;
      gap: 2rem;
    }
    @include m.media("mobile", "min") {
      padding: 0.5rem;
    }
  }
  &__tab {
    cursor: pointer;
    flex: 1;
    @include m.centerWithFlex;
    border-radius: 0.75rem;
    background-color: transparent;
    transition: color 0.35s ease-in-out;
    color: var(--font-dark-color);
    @include typo.quaternaryHeading;
    text-align: center;
    &:hover {
      color: var(--primary-green-color);
    }
    &[aria-current="true"] {
      color: var(--white-color);
      background-color: var(--primary-green-color);
    }
    @include m.media("mobile", "min") {
      min-height: 4rem;
      padding-inline: 1rem;
    }
    @include m.media("mobile") {
      color: var(--font-medium-gray-color);
      &:not(:last-child) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          @include m.centerColumnWithPositioning;
          right: -1rem;
          width: 1px;
          height: 1.5rem;
          background-color: var(--stroke-on-white-color);
        }
      }
      &[aria-current="true"] {
        color: var(--font-dark-color);
        background-color: inherit;
      }
    }
  }
}